/*--
Author: Template Stock
Author URL: http://templatestock.co
--*/

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="button"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0 0;
    margin: 0 0;
}

p {
    padding: 0 0;
    margin: 0 0;
}

ul {
    padding: 0 0;
    margin: 0 0;
}

body {
    padding: 0 0;
    margin: 0 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: url("../images/23.jpg") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-size: cover;
    min-height: 550px;
}

.header-top {
    padding-top: 3em;
}

.logo {
    float: left;
}

.top-menu {
    float: right;
}

.top-menu ul li {
    display: inline-block;
    padding: 5px 15px 0px 15px;
}

.top-menu ul li a {
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.top-menu ul li a:hover {
    color: #ef664d;
}

.top-menu ul li a.active {
    color: #ef664d;
    font-weight: 600;
}

nav a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
}

nav a:hover,
nav a:focus {
    outline: none;
}


/* Effect 5: same word slide in */

.cl-effect-5 a {
    overflow: hidden;
}

.cl-effect-5 a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cl-effect-5 a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 700;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}


/***** Slider *****/

.banner-wrap {
    padding-top: 30em;
}

.wmuSlider {
    position: relative;
    overflow: hidden;
}

.wmuSlider .wmuSliderWrapper article img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
}


/* Default Skin */

.banner_center {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
    text-align: center;
}

.banner_center h1 {
    color: #eee;
    font-family: 'Arvo', serif;
    text-transform: uppercase;
    font-size: 2.4em;
}

.banner_center h2 {
    color: #eee;
    font-family: 'Arvo', serif;
    text-transform: uppercase;
    font-size: 2.4em;
    padding: 7px 0;
}

.banner_center h2 span {
    color: #ef664d;
    font-weight: 900;
}

.wmuSliderPagination {
    z-index: 2;
    position: absolute;
    right: 48%;
    bottom: 6px;
}

ul.wmuSliderPagination {
    padding: 0;
}

.wmuSliderPagination li {
    float: left;
    margin: 0 8px 0 0;
    list-style-type: none;
}

.wmuSliderPagination a {
    text-indent: -9999px;
    visibility: visible;
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 3px solid #CCCECE;
    -webkit-border-radius: 50%;
}

.wmuSliderPagination a.wmuActive {
    background: #ef664d;
    border-color: #ef664d;
}

.bannertop_box {
    width: 23%;
    float: left;
}
